#pictureSearchView .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#pictureSearchView .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #pictureSearchView .thumb {
    padding-bottom: 3px;
}

#pictureSearchView .thumb img{
    height: 60px;
    width: 80px;
}
#pictureSearchView .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#pictureSearchView .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

#pictureSearchView .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(over.gif) repeat-x left top;
    padding: 4px;
}

#pictureSearchView .x-item-selected{
    background: #eff5fb url(selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#pictureSearchView .x-item-selected .thumb{
    background:transparent;
}

#pictureSearchView .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

#bookSearchDataViewId .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#bookSearchDataViewId .thumb-bsdv{
    /*background: #dddddd;*/
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #bookSearchDataViewId .thumb-bsdv{
    padding-bottom: 3px;
}

#bookSearchDataViewId .thumb-bsdv img{
    height: 60px;
    width: 80px;
}
bookSearchDataViewId .thumb-bsdv-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#bookSearchDataViewId .thumb-bsdv-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

#bookSearchDataViewId .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(over.gif) repeat-x left top;
    padding: 4px;
}

#bookSearchDataViewId .x-item-selected{
    background: #eff5fb url(selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#bookSearchDataViewId .x-item-selected .thumb-bsdv{
    background:transparent;
}

#bookSearchDataViewId .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}



.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}