body
{
  font-family: Tahoma;
  font-size: 12px;
  background-color: #FCFCFC;
}

.subject-node{
    background-image: url("/Images/tree/subject-node.png") !important;
    width:15px;
    height:14px;
}
.book-node{
    background-image: url("/Images/tree/book-node.png") !important;
    width:16px;
    height:16px;
}
.doc-node{
    background-image: url("/Images/tree/doc-node.png") !important;
    width:11px;
    height:14px;
}

#bookDetailPanel-body{
    overflow-y:auto !important;
}